<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testJYRuler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D0C4C821D0E5C24002B0727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0C4C9B1D0E5C24002B0727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0C4CA61D0E5C24002B0727</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
